<title>Finterest</title>
<!-- BOOTSTRAP 4 CSS -->
<link rel="stylesheet" href="/css/bootstrap.min (1).css" />
<!-- ANIMATE CSS -->
<link rel="stylesheet" href="/css/animate.css">
<!-- FONT AWESOME -->
<link rel="stylesheet" href="/css/all.min.css">